* {
  margin: 0;
}

html {
  background-color: rgb(4, 6, 6);
 
}

body {
  margin: 0;
  margin-top: 100px;
  width: 1000px;
  margin-left:auto;
  margin-right: auto;
  background-color: white;
}

.logo {
  width: 1000px;
  display: flex;
  justify-content: center;
  background: rgb(4, 6, 6);
  user-select: none;
}

#canvas {
  background: url('../images/background.jpeg');
  
}

.score-div {
  position: fixed;
  color: white;
  font-family: 'Orbitron', sans-serif;
  display: flex;
  width: 1000px;
  justify-content: space-evenly;
  margin-left: 2px;
  margin-top: 2px;
  user-select: none;
  font-size: 32px;
}

audio {
  display: none;
}

.modal-container {
  position: fixed;
  height: 150px;
  width: 500px;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  animation-name: animatetop;
  animation-duration: 0.4s;
  
}

.modal-content {
  position: relative;
  z-index: 1;
  font-family: 'Orbitron', sans-serif;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 110px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 35%; opacity: 1}
}

.modal-content h1 {
  font-size: 40px;
  line-height: none;
}

.modal-content p {
  color: gray;
  margin-bottom: 5px;
}

.start-div {
  width: 100%;
}

.start-button {
    background-color: rgb(178, 253, 248);
    color: black;
    border: 1px solid black;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Orbitron', sans-serif;
}

#mute {
  background: transparent;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  outline: 0;
  font-family: 'Orbitron', sans-serif;
}

.life {
  color: #1de823;
}

.blinking{
  animation:blinkingText 0.5s infinite;
}
@keyframes blinkingText{
    0%{     color: #1de823;    }
    49%{    color:#1de823; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: rgb(255, 0, 0);    }
}

footer {
  font-family:sans-serif;
  display: flex;
  width: 1000px;
  justify-content: space-around;
}

.footer-right a{
  color: black;
  
}

.footer-right {
  display: flex;
  justify-content: space-around;
  width: 50px;
}
