* {
  margin: 0;
}

html {
  background-color: rgb(252, 226, 197);
}

body {
  margin: 0;
  margin-top: 100px;
  width: 1000px;
  margin-left:auto;
  margin-right: auto;
  background-color: white;
}



#canvas {
  background: url('./images/background.jpeg')
}

.score-div {
  position: fixed;
  color: white;
  font-family: sans-serif;
  margin-left: 2px;
  margin-top: 2px;
  user-select: none;
}

.modal-container {
  /* position: relative; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* height: 150px;
  width: 500px; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: green;
  padding-bottom: 20px;
  border-radius: 20px;
}

.modal-background {
  position: absolute;
  font-family: sans-serif;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85px;
  width: 400px;
}

.modal-background h1 {
  font-size: 40px;
  line-height: none;
}

.modal-background p {
  color: gray;
  margin-bottom: 5px;
}

.start-div {
  width: 100%;
}

.start-button {
    background-color: rgb(131, 57, 67);
    color: white;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border-radius: 20px;
}


